* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-grey: hsl(213, 17%, 25%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 1.25rem;
}

/* Style the divs together even though you only want one shown at a time */
.container, .thank-you {
    background-color: var(--dark-blue);
    width: 400px;
    padding: 1.75rem;
    border-radius: 1.25rem;
    
}

/* Making circles behind elements is just padding plus border radius */
.star-img {
    padding: 0.75rem;
    border-radius: 50%;
    background-color: var(--dark-grey);
}

h1 {
    color: var(--white);
    margin: 1.5rem 0 1rem;
}

p {
    color: var(--light-grey);
    line-height: 1.5;
}

/* formatting the style of the rating */
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

/* However, circles around an html element would require you to specify an equal height & width */
.btn {
    height: 3rem;
    width: 3rem;
    margin: 2rem 0 2rem;
    padding: 0.75rem;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    border-radius: 50%;
    transition: 0.3s;
    
}

.btn:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}

/* Focus gives appearance change on click */
.btn:focus {
    background-color: var(--light-grey);
    color: var(--white);
}

/* width 100% makes the button wide enough */
.submit-btn {
    background-color: var(--orange);
    width: 100%;
    border: none;
    padding: 0.625rem 0 0.625rem;
    border-radius: 1.25rem;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* accessing the nested p element within thank you div */
.thank-you p.gray {
    background-color: var(--dark-grey);
    border-radius: 1.25rem;
    color: var(--orange);
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* since the other p tag had a class, the general p is accesed like this */
.thank-you p {
    margin-bottom: 1.5rem;
}

/* this ends up centering the img because of auto on left and right bottom */
.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

/* I added the hidden class on top of the thank you class and set to hidden so its on by default */
.hidden {
    display: none;
}



